<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Edit</h3>
    </div>
    <table class="table table-striped">
        <tr>
        <tr>
            <td>
                <label>First Name</label>
            </td>
            <td>
                <input class="form-control" required ng-model="human.first_name">
            </td>
        </tr>
        <tr>
            <td>
                <label>Last Name</label>
            </td>
            <td>
                <input class="form-control" required ng-model="human.last_name">
            </td>
        </tr>
        <tr>
            <td>
                <label>Email</label>
            </td>
            <td>
                <input class="form-control" required ng-model="human.email">
            </td>
        </tr>
        <tr>
            <td>
                <label>Phone</label>
            </td>
            <td>
                <input class="form-control" required ng-model="human.phone">
            </td>
        </tr>
        <tr>
            <td>
                <label>ID</label>
            </td>
            <td>
                <input class="form-control" required ng-model="human.passport">
            </td>
        </tr>
        <tr>
            <td>
                <label>Sex</label>
            </td>
            <td>
                <input class="form-control" ng-model="human.sex">
            </td>
        </tr>
        <tr>
            <td>
                <label>Date of registration</label>
            </td>
            <td>
                <input class="form-control" ng-model="human.date_of_registration">
            </td>
        </tr>
        <tr>
            <td>
                <label>Date of birth</label>
            </td>
            <td>
                <input class="form-control" ng-model="human.date_of_birth">
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
            <td>
                <input class="form-control" ng-model="human.password">
            </td>
        </tr>
        <tr>
            <td align="right" colspan="2">
                <button class="btn btn-primary" ng-click="toPeopleList()">Back</button>
                <button class="btn btn-warning" ng-click="addPeople()">Save changes</button>&nbsp;&nbsp;
                <button class="btn btn-info" ng-click="deselect()">Clear</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>