<div class="panel panel-default" ng-init="getPeople() ">
    <div class="panel-heading">
        <h3 class="panel-title">Add Client</h3>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in people">
            <td>{{p.first_name}}</td>
            <td>{{p.last_name}}</td>
            <td>{{p.email}}</td>
            <td colspan="4" align="right"><button class="btn btn-primary" ng-click="addClient(p._id)">Add Client</button></td>
        </tr>
        </tbody>
    </table>
</div>