<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add purchase</h3>
    </div>
    <table class="table table-striped">
        <tr>
        <tr>
            <td>
                <label> Staff First Name</label>
            </td>
            <td>
                <input class="form-control" required ng-model="purchase.staff_first_name">
            </td>
        </tr>
        <tr>
            <td>
                <label>Staff Last Name</label>
            </td>
            <td>
                <input class="form-control" required ng-model="purchase.staff_last_name">
            </td>
        </tr>
        <tr>
            <td>
                <label>Staff Email</label>
            </td>
            <td>
                <input class="form-control" required ng-model="purchase.staff_email">
            </td>
        </tr>
        <tr>
            <td>
                <label>Client First Name</label>
            </td>
            <td>
                <input class="form-control"  ng-model="purchase.client_first_name">
            </td>
        </tr>
        <tr>
            <td>
                <label>Client Last Name </label>
            </td>
            <td>
                <input class="form-control"  ng-model="purchase.client_last_name">
            </td>
        </tr>
        <tr>
            <td>
                <label>Client Email</label>
            </td>
            <td>
                <input class="form-control" ng-model="purchase.client_email">
            </td>
        </tr>
        <tr>
            <td>
                <label>Product name</label>
            </td>
            <td>
                <input class="form-control" required ng-model="purchase.product_name">
            </td>
        </tr>
        <tr>
            <td>
                <label>Product Price</label>
            </td>
            <td>
                <input class="form-control" required ng-model="purchase.product_price">
            </td>
        </tr>
        <tr>
            <td>
                <label>Amount</label>
            </td>
            <td>
                <input class="form-control" ng-model="purchase.amount">
            </td>
        </tr>
        <tr>
            <td align="right" colspan="2">
                <a class="btn btn-primary" href="#!/purchase">Back</a>&nbsp;&nbsp;
                <button class="btn btn-warning" ng-click="addPurchase()">Save purchase</button>&nbsp;&nbsp;
                <button class="btn btn-info" ng-click="deselect()">Clear</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>