<div class="panel panel-default" ng-init="getClients()">
    <div class="panel-heading">
        <h2 class="panel-title">Client</h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>ID</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in client">
            <td>{{c.first_name}} {{c.last_name}}</td>
            <td>{{c.phone}}</td>
            <td>{{c.email}}</td>
            <td>{{c.passport}}</td>
            <td align="right">
                <button class="btn btn-danger" ng-click="removeClient(c._id)">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>