<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Client</h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>ID</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="5" align="right">
                <a class="btn btn-primary" href="#!client/add">Add Client</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>