<div class="container2" style="width: 700px">
    <div style="width: 500px; height: 700px; margin: 0 auto;" align="center">
        <img src="img/model1.jpg" class="slides" style="height: 700px" align="center">
        <img src="img/model2.jpg" class="slides" style="height: 700px" align="center">
        <img src="img/model3.jpg" class="slides" style="height: 700px" align="center">
        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)" >&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)" onkeydown="detectButton()">&#10095;</button>
    </div>
    <div align="center" style="width: 500px; margin: 0 auto;">
        <a href="#/product" style="margin-top: 10px; font-size:16px">Check our collection right now!</a>
    </div>
</div>
</div>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    // left = 37
    // right = 39



    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("slides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }
</script>