<div class="panel panel-default" ng-init="getPeople() ">
    <div class="panel-heading">
        <h3 class="panel-title">People</h3>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <!--th><button class="btn btn-primary" ng-click="addContact()">Add Contact</button></th-->

        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in people">
                <td>{{p.first_name}}</td>
                <td>{{p.last_name}}</td>
                <td>{{p.email}}</td>
                <td align="right"><a class="btn btn-info" href="#!people/details/{{p._id}}">View Details</a>&nbsp;&nbsp;
                <button class="btn btn-danger" ng-click="removePeople(p._id)">Remove</button>&nbsp;&nbsp;
                <a class="btn btn-warning" href="#!people/edit/{{p._id}}">Edit</a></td>
            </tr>
            <tr>
                <td colspan="4" align="right"><a class="btn btn-primary" href="#!people/add">Add People</a></td>
            </tr>
        </tbody>
    </table>
</div>