<!--div class="panel panel-default" ng-init="getPeople() ">
    <div class="panel-heading">
        <h3 class="panel-title">People</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div ng-repeat="p in people">
                <div class="col-md-3">
                    <div class="col-md-6">
                        {{p.first_name}}
                        {{p.last_name}}
                        <a class="btn btn-primary" href="#/people/details/{{p._id}}">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div-->
<H1>People</H1>