<div class="panel panel-default" ng-init="getPurchase()">
    <div class="panel-heading">
        <h2 class="panel-title">Purchase</h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Product</th>
            <th>Sold by</th>
            <th>Client</th>
            <!--th>Date</th-->
            <th>Product Name</th>
            <th>Price</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in purchase">
            <td>{{p.product_name}}</td>
            <td>{{p.staff_first_name}} {{p.staff_last_name}}</td>
            <td>{{p.client_first_name}} {{p.client_last_name}}</td>
            <!--td>{{p.date_sold}}</td-->
            <td>{{p.product_name}}</td>
            <td>{{p.product_price}}</td>
            <td>{{p.amount}}</td>
            <td align="right">
                <button class="btn btn-danger" ng-click="removePurchase(p._id)">Remove</button>
            </td>
        </tr>
        <!tr>
            <td colspan="7" align="right"><a class="btn btn-primary" href="#!purchase/add">Add Purchase</a></td>
        </tr>
        </tbody>
    </table>
</div>