<div class="panel panel-default" ng-init="getStaff()">
    <div class="panel-heading">
        <h2 class="panel-title">Staff</h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>ID</th>
            <th>Store Address</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in staff">
            <td>{{s.first_name}} {{s.last_name}}</td>
            <td>{{s.phone}}</td>
            <td>{{s.email}}</td>
            <td>{{s.passport}}</td>
            <td>{{s.store_building}} {{s.store_street}}, {{s.store_city}}</td>
            <td align="right">
                <button class="btn btn-danger" ng-click="removeStaff(s._id)">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>